.header {
    padding: 52px 0 25px;
}
.header__container {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__link {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #343434;
}

.nav__select {
    padding-right: 20px;
    background-image: url('./../images/header-down-arrow.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
    appearance: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: rgba(52, 52, 52, 0.7);
    border: none;
    background-color: #fff;
}

.nav__link__tel {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-transform: uppercase;
    color: #343434;
}

.hamburger__btn {
    display: none;
    flex-shrink: 1;
    width: 23px;
    height: 25px;
    background: url("../images/hamburger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: none;
    background-color: #ffffff;
}

