.hero1 {
    margin-top: 58px;
    padding-bottom: 185px;
}

.hero1__container {
    display: flex;
    justify-content: space-between;
}

.hero1__heading {
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #343434;
}

.hero1__title {
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #343434;
}

.hero1__info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #343434;
    
}

.hero1__text {
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FF9619;
}

.hero1__link {
    display: block;
    max-width: 233px;
    padding: 15px 13px;
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9619;
}