@media only screen and (max-width: 375px) {
    .header > .container {
        padding: 0px 18px 0;
    }
    
    .header {
        padding: 14px 0 30px;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger__btn {
        display: block;
    }

    .nav__select {
        order: -1;
        background-color: #fff;
    }
    
    
    .nav__link {
        display: none;

    }

    .nav__logo__link {
        order: -2;
    }
    
    .nav__logo__img {
        width: 111px;
        height: 34px;
    }

    .nav__select {
        padding-right: 20px;
        background-image: url('./../images/header-down-arrow.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center right;
        appearance: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: rgba(52, 52, 52, 0.7);
        border: none;
    }
    
    .nav__link__tel {
        display: none;

    }

    .nav__link__icon {
        display: block;
    }


    //// hero section 
    .hero__list {
        display: none;
    }
    
    .hero__link {
        display: none;

    }







    .hero > .container {
        padding: 0 58px 0 17px;
    }



    
    .hero__block__select {
        background-color: #fff;
    }
    
    .select__btn__btn {
        border: none;
    }
    
    .hero__block {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .select__btn {
        display: none;
        column-gap: 20px;
    }
    
    .hero__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 43px ;
    }
    
    .hero__form {
        margin-left: 36px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        border: 1px solid #343434;
    }
    
    .hero__input {
        padding: 7px 0 6px 12px;
        font-size: 18px;
        line-height: 127.5%;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        border: none;
        outline: none;
        color: black;
    }


    .hero__button {
        display: flex;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
    }

 
    
    .nav__link__icon {
        display: none;
    }

    .small__btn__btn {
        display: inline-block;
        border: none;
        background-color: #ffffff;
    }






    // product 

    .product > .container {
        padding: 0 ;
        // margin: 0 auto;
    }

    .product {
        margin-top: 60px;
        margin-left: 22px;
    }

    .product__img {
        display: none;
    }
    
    .product__list {
        max-width: 341px;
        display: flex;
        flex-wrap: wrap;
        gap: 70px 19px ;
    }
    .product__list_item {
        
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 160px;
        min-height: 165px;
        background-color: #F2F3F5;
    }
    
    
    
    
    .product__title {
        transform: translateY(105px);
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4B4844;
    }
    
    .product__info {
        display: none;
    }

    .product__list_item {
        background-position: center ;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .product__list_item1 {
        background-image: url('./../images/1.png');
    }
    .product__list_item2 {
        background-image: url('./../images/2.png');
    }
    .product__list_item3 {
        background-image: url('./../images/3.png');
    }
    .product__list_item4 {
        background-image: url('./../images/4.png');
    }
    .product__list_item5 {
        background-image: url('./../images/5.png');
    }
    .product__list_item6 {
        background-image: url('./../images/6.png');
    }
    .product__list_item7 {
        background-image: url('./../images/7.png');
    }
    .product__list_item8 {
        background-image: url('./../images/8.png');
    }
    .product__list_item9 {
        background-image: url('./../images/9.png');
    }
    .product__list_item10 {
        background-image: url('./../images/10.png');
    }
    .product__list_item11 {
        background-image: url('./../images/11.png');
    }
    .product__list_item12 {
        background-image: url('./../images/12.png');
    }
    .product__list_item13 {
        background-image: url('./../images/13.png');
    }
    .product__list_item14 {
        background-image: url('./../images/14.png');
    }
    .product__list_item15 {
        background-image: url('./../images/15.png');
    }
    .product__list_item16 {
        background-image: url('./../images/16.png');
    }

    .product__button {
        min-width:0 ;
        width: 353px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .product__btn {
        background-color: #ffffff;
        border: none;
    }
    
    .button__link {
        margin: 40px auto 0;
        max-width: 188px;
        padding: 14px 15px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #FF9619;
    
        &:hover {
            background-color: rgb(218, 92, 92);
            transition: 0.3s;
        }
    
    }







    // post section

    .post {
        margin-top: 160px;
        margin-bottom: 160px;
    
        background-color: #A9C2BE;
    }
    
    .post__container {
        background-color: #A9C2BE;
        background-image: none;

        max-width: 1167px;
        padding: 26px 0 36px;
    }
    
    .post__block {
        transform: translateX(17px);
        max-width: 340px;
        padding: 31px 35px 17px 36px;
        background-color: #fff;
        
    
    }
    
    .post__title {
        font-size: 10px;
        line-height: 12px;
        color: #FF9619;
    }
    
    .post__heading {
        margin: 11px 0 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #343434;
    }
    
    .post__form {
        display: flex;
        flex-direction: column;
    }
    
    .post__input {
        margin-bottom: 25px;
        border: none;
        padding-bottom: 5px;
        border-bottom: 1px solid #d1d1d1;
    }
    
    .post__input::placeholder {
        font-size: 10px;
        line-height: 12px;

    }
    
    .input__block {
        display: flex;
        align-items: center;
    }
    
    .checkbox__title {
        max-width: 247px;

    }
    
    .input__checkbox[type="checkbox"] {
        margin-right: 7px;
        width: 14px;
        height: 14px;

    }
    
    .button__input {
        margin-top: 29px;
        margin-left: 40px;
        font-size: 14px;
        width: 180px;
        padding: 11px 16px;

    }

    .post__block:before {
        display: none;
    }
    
    // footer 





    .footer {
        display: none;
        margin-top: 90px;
        padding-top: 60px;
        background-color:#5B5B5B ;
    }
    
    // .footer__container {
    //     max-width: 375px;
    //     padding-left: 36px;
    //     padding-right: 36px;
    //     position: relative;
    //     display: flex;
    //     // flex-direction: column;
    //     flex-wrap: wrap;
    // }
    
    // .footer__container:after {
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     background-image: url('./../images/footer__ekmi.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position:  right;
    //     width: 223px;
    //     height: 60px;
    //     top: -173px;
    //     right: 28px;
    //     padding-top: 169px;
    // }
    
    // .footer__list {
    //     display: flex;
    //     gap: 0px;
    // }
    
    // .footer__list__item1 {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 0px;
    //     margin-left: 80px;
    // }
    
    
    // .footer__tel__link {
    //     display: none;
    //     font-family: 'Open Sans';
    //     font-weight: 600;
    //     font-size: 13px;
    //     line-height: 150%;
    //     display: flex;
    //     align-items: center;
    //     text-transform: uppercase;
    //     color: #FFFFFF;
    // }
    
    // .footer__btn {
    //     display: none;
    //     position: relative;
    //     // max-width: 271px;
    //     padding: 7px 40px 8px 20px;
    //     font-family: 'Open Sans';
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 13px;
    //     line-height: 150%;
    //     display: flex;
    //     align-items: center;
    //     text-transform: uppercase;
    //     color: #FFFFFF;
    //     background-color: #FF9619;
    //     border: none;
    //     display: flex;
    //     justify-content: space-around;
    //     cursor: pointer;
    // }
    
    // .footer__btn:after {
    //     right: 11px;
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     background-image: url('./../images/footer-arrow.svg');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: right center;
    //     width: 14.45px;
    //     height: 12px;
    // }
    
    
    
    
    
    // .footer__link {
    //     font-size: 13px;
    //     line-height: 150%;
    //     display: flex;
    //     align-items: center;
    //     letter-spacing: 0.16em;
    //     text-transform: capitalize;
    //     color: #FFFFFF;
    //     margin-bottom: 25px;
    // }
    
    // .footer__list__item {
    //     display: flex;
    //     flex-direction: column;
    
    // }
    
    
    
    // .footer__info {
    //     max-width: 322px;
    //     margin-bottom: 29px;
    //     margin-top: 80px;
    //     font-size: 10px;
    //     line-height: 150%;
    
    // }

        .footer__top  .container {
            position: relative;
            padding: 0px 36px 0px;
        }
    

    .footer__top {
        padding-top: 61px;
        display: block;
        background: #5B5B5B;
    }

    .footer__top__list {
        display: flex;
    }

  

    .footer__link0 {
        margin-top: 23px;
        font-size: 13px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.16em;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .footer__btn0 {  
    margin-top: 71px;
    margin-bottom: 51px;
     position: relative;
     padding: 7px 40px 8px 20px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 13px;
     line-height: 150%;
     display: flex;
     align-items: center;
     text-transform: uppercase;
     color: #FFFFFF;
     background-color: #FF9619;
     border: none;
     display: flex;
     justify-content: space-around;
     cursor: pointer;  
    }

        .footer__btn0:after {
        right: 11px;
        position: absolute;
        display: block;
        content: '';
        background-image: url('./../images/footer-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        width: 14.45px;
        height: 12px;
    }

    .socials0 {
        margin-bottom: 59px;
        display: flex;
        max-width: 271px;
        justify-content:space-between;
    }

    .footer__block0 {

        display: flex;
        align-items: center;
        gap: 15px;
    }

    .footer__top__link__logo {
        display: block;
        margin-left: 67px;
        padding-bottom: 34px;
    }

    .footer__info0 {
        // position: absolute;
        width: 326px;
        height: 16px;
        left: 24px;
        top: 3596px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.16em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 27px;
    }

    .footer__top__container:after {
    position: absolute;
    display: block;
    content: '';
    background-image: url('./../images/footer__ekmi.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:  right;
    width: 223px;
    height: 60px;
    top: -119px;
    right: 20px;
    padding-top: 60px;
    }



  

    
}